span {
    color: #ee7600
}

.tag {
    color: #ee7600
}

body {
    background-color: rgb(235, 216, 192)
}

button:hover {
    background-color: #FF5733;
}

button:active {
    background-color: rgb(235, 216, 192)
}

.my-button {
    width: 100px;
    height: 50px;
    box-sizing: border-box;
}