span {
    color: #ee7600
}

.tag {
    color: #ee7600
}

body {
    background-color: rgb(241, 197, 144)
}

button:hover {
    background-color: #FF5733;
}

button:active {
    background-color: rgb(235, 216, 192)
}

button {
    width: 100px;
    height: 50px;
    padding: 5px;
}

.flexbox-container {
    display: flex;
}

.flexbox-item-1 {
    width: 100px;
    margin: 10px;
    border: 3px solid rgb(235, 216, 192);
    background-color: rgb(235, 216, 192);
}

.flexbox-item-2 {
    width: 100px;
    margin: 10px;
    border: 3px solid rgb(235, 216, 192);
    background-color: rgb(235, 216, 192);
}