span {
    color: #ee7600
}

.tag {
    color: #ee7600
}

body {
    background-color: #FAF9F6;
    border: 10px solid magenta;
}

button:hover {
    background-color: #FF5733;
}

button:active {
    background-color: rgb(235, 216, 192)
}

button {
    width: 100px;
    height: 50px;
    padding: 5px;
}

#container {
    display: flex;
    background-color: antiquewhite;
    height: 100px;
    width: 50%;
    border: 3px solid #FAF9F6;
    margin: 0 auto;
    flex-direction: row;
    justify-content: flex-end;

}

#Container div {
    width: 50%;
    height: 100px;

}